@model Trabalho_Trimestral.Models.Bug

<h2>Bug</h2>

<form method="post">

    <fieldset class="form-group card">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Prioridade</legend>
            <div class="col-sm-10">
                <label><input type="radio" name="situacao" value="1" />Crítico</label>
                <label><input type="radio" name="situacao" value="2" />Normal</label>
                <label><input type="radio" name="situacao" value="3" />Baixo</label>
            </div>
        </div>
    </fieldset>

    <div class="form-group form-check">
        <label for="check"><input asp-for="Resolucao" class="form-check-input" type="checkbox" id="check" />Já foi resolvido</label>
    </div>


    <div class="form-group">
        <label>Criador</label>
        <select asp-for="DesenvolvedorId" class="form-control" asp-items="ViewBag.Desenvolvedores">
            <option></option>
        </select>
        <span asp-validation-for="DesenvolvedorId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
    </div>

</form>

